.no-bleed{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    overflow-x: hidden;
}

/* bets css */
.game-tables {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.game-table {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.game-table h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sensor-checkbox {
    margin-right: 10px;
}

.jackpots {
    /* position: absolute; */
    bottom: 10px;
    left: 10px;
}

.jackpot-amount {
    font-weight: bold;
}

.of {
    overflow-x: hidden;
    /* width: 100%; */
    --bs-gutter-x: 0 !important;
    /* position: absolute; */
    color: whitesmoke;
}

.holder {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.image-cont {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.poker-table {
    width: 100%;
    position: relative;
}

.icon {
    position: absolute;
    top: 55%; /* Adjust as necessary */
    width: 20%;
    z-index: 10;
}

.image-cont h5{
    position: absolute;
    top: 95%; /* Adjust as necessary */
    z-index: 10;
    color: whitesmoke;
}

.jackpotsdisp {
    background-color: #25282d;
    position: relative;
    min-height: 100px;
    width: 85.55%;
    left: 7.19%;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
}

.jackpotsdisp .disp-table-data, .jackpotsdisp .disp-meter-data{
    padding-top: 2%;
}

.meter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 1.5% 1.5% !important;
    border-radius: 10px;
    width: 100% !important;
    /* margin: 0 10% 0 auto; */
}

.number-display {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 3%;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.digit {
    display: inline-block;
    font-size: 13px;
    font-family: 'Courier New', monospace;
    color: white;
    background-color: #111;
    padding: 1% 1.5%;
    margin: 2px;
    border-radius: 4px;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.custom-card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
.custom-card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }

  .card-3 {
    background: radial-gradient(#76b2fe, #b69efe);
  }

  .button-a {
    border: none;
    background-color: #150035;
    color: #ffff;
    padding: 10px 20px;
    border-radius: 10px;
    margin: auto;
    position: relative;
    box-shadow: 5px 5px 5px #150035;
    transition: all 0.3s ease;
  }

  .for-bg{
    background-color: #c24242 !important;
    box-shadow: 5px 5px 5px #c24242 !important;
  }

  .for-height th, .for-height td{
    font-size: smaller;
    padding: 0px !important;
  }

  .for-height{
    --bs-table-bg: none !important;
  }


